<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Apie Mus</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>

<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Apie mus</span>
            <p class="smallerTitle">Pagrindinė MB “Remgeta” veikla – žemės ūkio ir miškų technikos
                remontas, bei
                techninė priežiūra.
            </p>
            <div class="text-background">
            <ul class="tekstas">
                <li>Prekiaujame remontuotais varikliais, pavarų dėžėmis, reduktoriais, naujais ir naudotais
                    variklių
                    mazgais, priedais (MAZ varikliams įdėti į T-150K). </li>
                <li>Teikiame tekinimo, frezavimo, gręžimo, suvirinimo, dažymo paslaugas. Remontuojami kombainų
                    mazgai:
                    būgnai ir pobūgniai.</li>
                <li class="lastText">Esame jauna įmonė siekianti naujovių ir iššūkių. Nuo pat įmonės įkūrimo pradžios mūsų
                    paslaugomis
                    naudojasi žemės ūkio bendrovės, žemės ūkio kooperatyvai, ūkininkai, valstybinės įmonės. Mūsų
                    įmonė
                    aptarnauja klientus ne tik iš Lietuvos, bet ir iš kitų pasaulio šalių (Latvija, Estija,
                    Australija),
                    tai verčia mus augti ir tobulėti, todėl visada ieškome ir noriai bendradarbiaujame su
                    užsienio rinka
                    ir tiekėjais. </li>
            </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
<!--////////////////////////////////////////////////////////////////-->
</body>
</html>