<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Apie mane</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>

<div class="container linija">
        <div class="col-md-12">
            <span class="page-title">Apie mane</span>
            <p class="smallerTitle">About me - Gabijus
            </p>
            <div class="text-background">
            <ul class="tekstas">
                <li>I am a team player as I love working in a team environment. I catch on and learn new things fast,
                    especially in programming world.</li>
                <li>I enjoy various things on my free time such as – airsoft, gaming,
                    climbing, volunteering.</li>
                <li>I try to help out my colleagues as much as I can and by doing so I try to improve
                    my knowledge and skills in programming. </li>
                <li class="lastText">I don’t have any bad habits like drinking or smoking.</li>
            </ul>
            </div>
            <hr>
        </div>
</div>
<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs')%>
</body>
</html>