<div class="footer-main">
    <div>
        <footer class="text-center">

            <div class="footer-links">
                <p class="footerTitle">© 2020 GabiShimma &nbsp <!-- Nesusitraukiantis tarpas-->
                    <li class="nav-item">
                        <a class="fa fa-facebook medialink" href="https://www.facebook.com/gabishimma" target="_blank"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa fa-linkedin medialink" href="https://www.linkedin.com/in/gabijus-kielius-1b063a1b1/"
                           target="_blank"></a>
                    </li>
                    <li class="nav-item">
                        <a class="fa fa-github medialink" href="https://github.com/GabijusKielius" target="_blank"></a>
                    </li>

                    <li class="nav-item">
                        <a class="fa fa-steam medialink" href="https://steamcommunity.com/id/gabishimma"
                           target="_blank"></a>
                    </li>
                </p>
            </div>


        </footer>
    </div>
</div>