<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Pagrindinis</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>

<div class="container">
    <div class="col-md-12">
        <span class="page-title">TITULINIS PUSLAPIS</span>
        <p class="smallerTitle">Sveiki atvykę į Gabijaus Kieliaus svetainę</p>
        <div class="text-background">
            <ul class="tekstas">
                <li class="lastText">Ši svetainė yra eksperimentinė</li>
            </ul>
        </div>
        <hr>
    </div>
</div>
<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs') %>
</body>
</html>