<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remgeta - Pagrindinis</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>

<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">TITULINIS PUSLAPIS</span>
            <p class="smallerTitle">ČIA BUS PAGRINDINIS REMGETOS SVETAINĖS PUSLAPIS</p>
            <div class="text-background">
                <ul class="tekstas">
                    <li>Testas</li>
                    <li>More Testas</li>
                    <li class="lastText">More More Testas</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
<!--////////////////////////////////////////////////////////////////-->
</body>
</html>