<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Kontaktai</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container">
        <div class="col-md-12">
            <span class="page-title">Gabijaus Kieliaus rekvizitai</span>
            <div class="text-background">
                <table class="lentele">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Adresas:</td>
                        <td>Piliakalnio g. 6, Prienai, Lietuva LT-59119</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">Tel. / faksas:</td>
                        <td>+3706 78 19 618</td>
                    </tr>
                    </tbody>
                </table>

                <table class="lentele">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Asmens kodas:</td>
                        <td>39802282323</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">E-paštas:</td>
                        <td>gabijuskielius@gmail.com</td>
                    </tr>
                    </tbody>
                </table>

                <table class="lentele" style="margin-bottom: 15px">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Atsiskaitomoji sąskaita:</td>
                        <td>AB bankas “Swedbank” LT067300010131481799</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">Banko kodas:</td>
                        <td>7300</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-12">
            <div>
                <h2 class="smallerTitle">Studentų g. 48, Kaunas LT-51367
                </h2>
                <p>
                    <iframe src="https://maps.google.com/maps?q=Studen%C5%B3%20g.%2048&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            style="border:0;" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
                </p>
            </div>
            <hr>
        </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs')%>
</body>
</html>