<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Kontaktai</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Įmonės rekvizitai</span>
            <div class="text-background">
                <table class="lentele">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Adresas:</td>
                        <td>Nemuno g. 11, Jiezno Kolonijos, Lietuva LT-59421</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">Tel. / faksas:</td>
                        <td>+3706 85 42 100</td>
                    </tr>
                    </tbody>
                </table>

                <table class="lentele">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Įmonės kodas:</td>
                        <td>303139684</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">PVM mokėtojo kodas:</td>
                        <td>LT100008691513</td>
                    </tr>
                    </tbody>
                </table>

                <table class="lentele" style="margin-bottom: 15px">
                    <tbody>
                    <tr>
                        <td style="width: 300px">Atsiskaitomoji sąskaita:</td>
                        <td>AB bankas “Swedbank” LT127300010136761498</td>
                    </tr>
                    <tr>
                        <td style="width: 300px">Banko kodas:</td>
                        <td>7300</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-12">
            <div>
                <h2 class="smallerTitle">Nemuno g. 11, Jiezno Kolonijos, Lietuva
                    LT-59421
                </h2>
                <p>
                    <iframe src="https://maps.google.com/maps?q=remgeta&t=&z=15&ie=UTF8&iwloc=&output=embed"
                            style="border:0;" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
</body>
</html>