<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Nuoma</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Nuoma</span>
            <h3 class="smallerTitle">Įrankių nuoma:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>Smagračio nuėmėjas (JAMZ-240 varikliui)</li>
                    <li>Gilzių išėmėjai SMD-18, SMD-60, MAZ, MTZ varikliams)</li>
                    <li class="lastText">Stumoklių sudėjimo gilzės (MAZ, MTZ, SMD, JCB, Class ir kitiems varikliams)</li>
                </ul>
            </div>
            <h3 class="smallerTitle">Kitos nuomos paslaugos:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic;">
                    <li>Transportavimas Lietuvoje ir Latvijoje (iki 1,5 tonos)</li>
                    <li>Žemės ūkio technikos detalių ir kitų prekių pristatymas užsakovui</li>
                    <li>Žmogiškųjų išteklių nuoma (atvykimas į vietą, gedimo nustatymas, smulkus remontas, techninė
                        priežiūra)
                    </li>
                    <li>Traktoriaus T-150K nuoma</li>
                    <li class="lastText">Metalo konstrukcijų pjaustymas, virinimas pas klientą</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs')%>
</body>
</html>