<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Prekių gražinimas</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Prekių grąžinimas</span>
            <h3 class="smallerTitle">Prekių grąžinimas</h3>
            <div class="text-background">
            <p style="font-style: italic;">Kai grąžinama
                nekokybiška ar transportavimo metu
                pažeista
                prekė, mes
                įsipareigojame priimti nekokybišką prekę ir ne vėliau kaip per 15 darbo dienų pakeisti ją analogiška
                kokybiška preke. Nekokybiškų prekių grąžinimo ir keitimo išlaidas apmoka pardavėjas. Tuo atveju, kai
                mes neturime analogiškos prekės, Jums ne vėliau kaip per 15 darbo dienų bus sugrąžinti už prekę
                sumokėti pinigai su visomis transporto išlaidomis.</p>
            </div>
            <h3 class="smallerTitle">Grąžinimo tvarka</h3>
            <div class="text-background">
            <ul style="font-style: italic">
                <li>Norėdami grąžinti prekę būtinai prieš tai mums praneškite telefonu (+370 6854 2100) arba
                    elektroniniu paštu (remgeta@gmail.com).</li>
                <br>
                <li>Grąžinant prekę būtina pateikti jos įsigijimo dokumentą, garantinį taloną (jei jis buvo
                    išduotas) ir užpildyti prekės grąžinimo dokumentą, kurį Jums pateiks atsakingas MB “Remgeta”
                    darbuotojas.</li>
                <br>
                <li>Pardavėjas, vadovaujantis prekės grąžinimo dokumento duomenimis, atsiunčia pristatymo kompanijos
                    kurjerį paimti grąžinamą prekę.</li>
            </ul>
            </div>

            <p class="text-center smallerTitle" style="font-weight: bold">Kilus klausimams su mumis galite
                susisiekti telefonu:
                +370 68542100 arba
                elektroniniu paštu: remgeta@gmail.com</p>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs')%>
</body>
</html>