<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Prekių užsakymas</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Prekių užsakymas</span>
            <h3 class="smallerTitle">Kaip užsisakyti prekes?</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <br>
                    <li>Išsirinkite prekes iš katalogo ir spauskite “Įdėti į krepšelį”</li>
                    <br>
                    <li>Krepšelio turinį atsiųskite mums el. Paštu: remgeta@gmail.com</li>
                    <br>
                    <li>Patvirtinkite užsakymą telefonu: +370 68542100</li>
                    <br>
                    <li>Patvirtinę užsakymą perveskite pinigus į MB “Remgeta” sąskaitą (prekės išsiunčiamos tik
                        atlikus pavedimą)
                    </li>
                    <br>
                    <li>Laukite kurjerio, kuris pristatys prekes</li>
                    <br>
                </ul>
            </div>
            <h3 class="smallerTitle">Apmokėjimas</h3>
            <div class="text-background">
                <ul class="tekstas">
                    <br>
                    <p style="text-align=left">Apmokėjimas gali būti įvykdytas:</p>
                    <br>
                    <div style="font-style: italic">
                        <li>Pavedimu banke</li>
                        <br>
                        <li>Pavedimu naudojantis elektroninės bankininkystes paslaugomis (pavedimu internetu)</li>
                        <br>
                        <li>Atsiskaitant grynaisiais pinigais</li>
                        <br>
                    </div>
                </ul>
            </div>
            <h3 class="smallerTitle">Pristatymas</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <br>
                    <li>Pardavėjas užsakytas prekes pristato Pirkėjo nurodytu adresu.</li>
                    <br>
                    <li>Prekių pristatymo kaina priklauso nuo prekių svorio ir yra pridėdama prie bendros prekių
                        krepšelio vertės.
                    </li>
                    <br>
                    <li>Pardavėjas prekės pristato tik gavus Pirkėjo apmokėjimą vienu iš pasirinktų apmokėjimo atvejų.
                    </li>
                    <br>
                    <li>Prekes pristato pristatymo kompanijos kurjeris,kuris susisiekia su Pirkėju dėl tikslaus
                        pristatymo laiko Pirkėjo nurodytu telefonu. Pirkėjas pats atsako, kad pristatymo metu būtų
                        pristatymo vietoje.
                    </li>
                    <br>
                </ul>
            </div>
            <h3 class="smallerTitle">Pristatymo terminai</h3>
            <div class="text-background">
                <ul class="tekstas">
                    <br>
                    <p style="text-align=left">Prekės Pirkėjui yra pristatomos:</p>
                    <br>
                    <div style="font-style: italic">
                        <li>Per 2-3 darbo dienas Lietuvoje</li>
                        <br>
                        <li>Per 3-4 darbo dienas Latvijoje</li>
                        <br>
                        <li>Į kitas užsienio šalis pristatymas derinamas individualiai</li>
                        <br>
                    </div>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
</body>
</html>