<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remgeta - Prekių gamyba</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija ">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Priedų gamyba</span>
            <h3 class="smallerTitle">Kliento dalys:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>MAZ variklio smagratis</li>
                    <li>MAZ variklio diskatorius (su atrama)</li>
                    <li>Ilgasis velenas</li>
                    <li>Sankabos velenas</li>
                    <li>Vamzdeliai į tepalo radiatorių (SMD-60 variklio)</li>
                    <li>T-150K dėžės tepalo bakelis (tik varikliui JAMZ-238)</li>
                    <li class="lastText">T-150K priekinis balnas (be gumos)</li>
                </ul>
            </div>
            <h3 class="smallerTitle">Parduodamos papildomos dalys:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>Specialus sankabos gaubtas (tinka MAZ varikliui)</li>
                    <li>Šlicai į alkūninį veleną</li>
                    <li>Šoninės kojos (2 vnt.)</li>
                    <li>Išmetimo kaminas (pagal užsakymą)</li>
                    <li>Oro filtro kronšteinas (kelnės)</li>
                    <li>Vandens pompos kolektoriai (2 vnt.)</li>
                    <li>Vandens radiatoriaus kolektorius</li>
                    <li>Tepalo spaudimo šlanga</li>
                    <li>Štuceris į bloką</li>
                    <li class="lastText">Guolis į smagratį</li>
                </ul>
            </div>
            <h3 class="smallerTitle">Papildomi darbai:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>MAZ variklių įmontavimas į T-150K traktorius (galimas atvykimas pas klientą)</li>
                    <li>MAZ sankabos tarpinio tekinimas</li>
                    <li>T-150K sankabos disko kniedijimas</li>
                    <li>Sankabos gaubto virinimas</li>
                    <li>Išminamo guolio pakeitimas</li>
                    <li>Stabdžiuko rem. kniedijimas</li>
                    <li>Priedų įmontavimas MAZ varikliui</li>
                    <li class="lastText">Variklio išbandymas</li>
                </ul>
            </div>
            <br><br>
            <table align="center" class="tekstas" style="border: 1px solid white; height: 494px;" width="956"
                   cellspacing="0" cellpadding="0" border="1px">
                <tbody>
                <tr style="height: 16px;">
                    <td style="text-align: center; height: 16px; width: 94px;" valign="middle">Modelis</td>
                    <td style="text-align: center; height: 16px; width: 143px;" valign="middle">Galingumas<p>
                        </p>
                        <p>(arklio jėgos)</p>
                    </td>
                    <td style="text-align: center; height: 16px; width: 103px;" valign="middle">Apsukos<p></p>
                        <p>(min -1)</p>
                    </td>
                    <td style="text-align: center; height: 16px; width: 117px;" valign="middle">Darbo<p></p>
                        <p>tvarka</p>
                    </td>
                    <td style="text-align: center; height: 16px; width: 113px;" valign="middle">Kuro sąnaudos<p>
                        </p>
                        <p>gr/arklio galiai</p>
                    </td>
                    <td style="text-align: center; height: 16px; width: 75px;" valign="middle">Svoris<p></p>
                        <p>(kg)</p>
                    </td>
                    <td style="height: 16px; text-align: center; width: 151px;" valign="middle">Naudojimas</td>
                    <td style="text-align: center; height: 16px; width: 142px;" valign="middle">Ankstinimo<p>
                        </p>
                        <p>kampas</p>
                    </td>
                </tr>
                <tr style="height: 96px;">
                    <td style="text-align: center; height: 96px; width: 94px;" valign="middle">JAMZ-238</td>
                    <td style="text-align: center; height: 96px; width: 143px;" valign="middle">235</td>
                    <td style="text-align: center; height: 96px; width: 103px;" valign="middle">2000</td>
                    <td style="text-align: center; height: 96px; width: 117px;" valign="middle">15426378</td>
                    <td style="text-align: center; height: 96px; width: 113px;" valign="middle">162</td>
                    <td style="text-align: center; height: 96px; width: 75px;" valign="middle">1250</td>
                    <td style="text-align: center; height: 96px; width: 151px;" valign="middle">T-150K
                        traktorius,<p></p>
                        <p>DON-15006 kombainas</p>
                    </td>
                    <td style="text-align: center; height: 96px; width: 142px;" valign="middle">18-19</td>
                </tr>
                <tr style="height: 136px;">
                    <td style="text-align: center; height: 136px; width: 94px;" valign="middle">JAMZ-236</td>
                    <td style="text-align: center; height: 136px; width: 143px;" valign="middle">175</td>
                    <td style="text-align: center; height: 136px; width: 103px;" valign="middle">2100</td>
                    <td style="text-align: center; height: 136px; width: 117px;" valign="middle">142536</td>
                    <td style="text-align: center; height: 136px; width: 113px;" valign="middle">162</td>
                    <td style="text-align: center; height: 136px; width: 75px;" valign="middle">990</td>
                    <td style="text-align: center; height: 136px; width: 151px;" valign="middle">T-150:
                        traktorius,<p></p>
                        <p>autogrederis D3K-250,</p>
                        <p>XT3-17221</p>
                    </td>
                    <td style="text-align: center; height: 136px; width: 142px;" valign="middle">18-19</td>
                </tr>
                <tr style="height: 96px;">
                    <td style="text-align: center; height: 96px; width: 94px;" valign="middle">SMD-60</td>
                    <td style="text-align: center; height: 96px; width: 143px;" valign="middle">160</td>
                    <td style="text-align: center; height: 96px; width: 103px;" valign="middle">2250</td>
                    <td style="text-align: center; height: 96px; width: 117px;" valign="middle">142536</td>
                    <td style="text-align: center; height: 96px; width: 113px;" valign="middle">185</td>
                    <td style="text-align: center; height: 96px; width: 75px;" valign="middle">850</td>
                    <td style="text-align: center; height: 96px; width: 151px;" valign="middle">T-150K
                        traktorius<p></p>
                        <p>(orginalas)</p>
                    </td>
                    <td style="text-align: center; height: 96px; width: 142px;" valign="middle">16-18</td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
<!--////////////////////////////////////////////////////////////////-->
</body>
</html>