<script>
    $(document).ready(function () {
        $('.navbar .dropdown-item').on('click', function (e) {
            var $el = $(this).children('.dropdown-toggle');
            var $parent = $el.offsetParent(".dropdown-menu");
            $(this).parent("li").toggleClass('open');

            if (!$parent.parent().hasClass('navbar-nav')) {
                if ($parent.hasClass('show')) {
                    $parent.removeClass('show');
                    $el.next().removeClass('show');
                    $el.next().css({"top": -999, "left": -999});
                } else {
                    $parent.parent().find('.show').removeClass('show');
                    $parent.addClass('show');
                    $el.next().addClass('show');
                    $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
                }
                e.preventDefault();
                e.stopPropagation();
            }
        });

        $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
            $(this).find('li.dropdown').removeClass('show open');
            $(this).find('ul.dropdown-menu').removeClass('show open');
        });

        var url = window.location.href;
        $("#paslaugos-dropdown a").each(function () {
            if (url == (this.href)) {
                $(this).closest(".dropdown-item").addClass("dropdown-item-active");
                $("#paslaugos").addClass("active");
            }
        });
        $("#info-dropdown a").each(function () {
            if (url == (this.href)) {
                $(this).closest(".dropdown-item").addClass("dropdown-item-active");
                $("#info").addClass("active");
            }
        });
        $("#sidebar a").each(function () {
            if (url == (this.href)) {
                if ($(this).closest('ul').attr('class') != "dropdown-menu") {
                    $(this).closest("a").addClass("active");
                }
            }
        });
        $(".shop").each(function () {
            if (url.includes("parduotuve")) {
                $(".shop").addClass("active");
            }
        })
    })
</script>


<div class="header">

    <!--    <div class="top-container">-->
    <!--        <h1>GabijusKielius</h1>-->
    <!--        <p>Test Website</p>-->
    <!--    </div>-->

    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <a class="navbar-brand" href="/">Gabijus Kielius Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" id="sidebar">
                <li class="nav-item">
                    <a class="nav-link shop" href="/parduotuve">Prekės</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminpage">AdminPage</a>
                </li>
                <li class="nav-item dropdown" id="paslaugos">
                    <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Paslaugos</a>
                    <ul class="dropdown-menu" id="paslaugos-dropdown" aria-labelledby="dropdown1">
                        <li class="dropdown-item"><a href="/paslaugos/priedugamyba">Priedų gamyba</a></li>
                        <li class="dropdown-item"><a href="/paslaugos/nuoma">Nuoma</a></li>
                        <li class="dropdown-item"><a href="/paslaugos/technineapziura">Techninė apžiūra</a></li>
                        <li class="dropdown-item"><a href="/paslaugos/remontas">Remontas </a></li>
                        <li class="dropdown-item"><a href="/paslaugos/tekinimasirfrezavimas">Tekinimas ir frezavimas</a>
                        </li>
                        <li class="dropdown-item"><a href="/paslaugos/suvirinimas">Suvirinimas</a></li>
                        <!--                    <li class="dropdown-item dropdown">-->
                        <!--                        <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>-->
                        <!--                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1">-->
                        <!--                            <li class="dropdown-item" href="#"><a>Action 1.1</a></li>-->
                        <!--                            <li class="dropdown-item dropdown">-->
                        <!--                                <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>-->
                        <!--                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">-->
                        <!--                                    <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>-->
                        <!--                                </ul>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->
                        <!--                    </li>-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Galerija</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Kontaktai</a>
                </li>
                <li class="nav-item dropdown" id="info">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Info</a>
                    <ul class="dropdown-menu" id="info-dropdown" aria-labelledby="dropdown2">
                        <li class="dropdown-item"><a href="/info/apie">Apie</a></li>
                        <li class="dropdown-item"><a href="/info/prekiuuzsakymas">Prekių užsakymas</a></li>
                        <li class="dropdown-item"><a href="/info/prekiugrazinimas">Prekių gražinimas</a></li>
                        <!--                        <li class="dropdown-item dropdown">-->
                        <!--                            <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true"-->
                        <!--                               aria-expanded="false">Dropdown2.1</a>-->
                        <!--                            <ul class="dropdown-menu" aria-labelledby="dropdown2-1">-->
                        <!--                                <li class="dropdown-item" href="#"><a>Action 2.1 A</a></li>-->
                        <!--                                <li class="dropdown-item" href="#"><a>Action 2.1 B</a></li>-->
                        <!--                                <li class="dropdown-item" href="#"><a>Action 2.1 C</a></li>-->
                        <!--                                <li class="dropdown-item dropdown">-->
                        <!--                                    <a class="dropdown-toggle" id="dropdown2-1-1" data-toggle="dropdown"-->
                        <!--                                       aria-haspopup="true" aria-expanded="false">Dropdown2.1.1</a>-->
                        <!--                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1-1">-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.1 A</a></li>-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.1 B</a></li>-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.1 C</a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </li>-->
                        <!--                                <li class="dropdown-item dropdown">-->
                        <!--                                    <a class="dropdown-toggle" id="dropdown2-1-2" data-toggle="dropdown"-->
                        <!--                                       aria-haspopup="true" aria-expanded="false">Dropdown2.1.2</a>-->
                        <!--                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1-2">-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.2 A</a></li>-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.2 B</a></li>-->
                        <!--                                        <li class="dropdown-item" href="#"><a>Action 2.1.2 C</a></li>-->
                        <!--                                    </ul>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </li>-->
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>

