<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Remontas</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container">

    <!-- Example row of columns -->
    <div class="col-md-12">
        <span class="page-title">Remontas</span>
        <h3 class="smallerTitle">Traktorių:</h3>
        <div class="text-background">
            <ul class="tekstas" style="font-style: italic">
                <li class="lastText">Class, John Deere, New Holland, Ford, JCB, Fortschritt, T-150K, MTZ, T-40, DT-75,
                    S-130, T-25,
                    LTZ-55, T-16, K-701, T-130, DT-75.
                </li>
            </ul>
        </div>
        <h3 class="smallerTitle">Pakrovėjų:</h3>
        <div class="text-background">
            <ul class="tekstas" style="font-style: italic;">
                <li class="lastText">BULGAR pavarų dėžės remontas</li>
            </ul>
        </div>
        <h3 class="smallerTitle">Variklių:</h3>
        <div class="text-background">
            <ul class="tekstas" style="font-style: italic;">
                <li class="lastText">Dyzelinių variklių remontas. Traktorių ir kitos žmės ūkio technikos variklių
                    remontas:
                    JAMZ-240(K-701), SMD-60(T-150K), SMD-31(DON), SMD-18-23(DT-75), JAMZ-236-238(MAZ), D-240(MTZ),
                    D-144(LTZ-55), A-41(Grederio), 6-VD (Fortschritt), S-130 (Stalino), JUMZ.
                </li>
            </ul>
        </div>
        <h3 class="smallerTitle">Pavarų dėžių, vairo kolonėlių ir kitų mazgų:</h3>
        <div class="text-background">
            <ul class="tekstas" style="font-style: italic;">
                <li>Pavarų dėžių: T-150, MTZ, T-40 “vulgar” pakrovėjo.</li>
                <li>Vairo kolonėlių: MTZ, JUMZ, T-40.</li>
                <li>Kompresorių, turbokompresorių, turbinų tikrinimas, remontas, keitimas</li>
                <li>Reduktorių, diskatorių tikrinimas, remontas, keitimas</li>
                <li>Vandens pompų tikrinimas, remontas, keitimas</li>
                <li>Kuro ir tepalo siurblių, skirstytuvų, purkštukų, vožtuvų tikrinimas, keitimas</li>
                <li>Hidrocilindrų remontas ir gamyba</li>
                <li>NŠ tipo hidrosiurblių bei hidroskirstytuvų patikrinimas ir remontas</li>
                <li>Grūdinių kombainų pobugnių remontas</li>
                <li>Kombainų bugnų, sraigių, biterių, atmušėjų gamyba ir remontas</li>
                <li class="lastText">Elektros instaliacijos remontas, generatorių, starterių tikrinimas, keitimas</li>
            </ul>
        </div>
        <h3 class="smallerTitle">Variklių įmontavimas, mazgų perdarymas bei modernizavimas:</h3>
        <div class="text-background">
            <ul class="tekstas" style="font-style: italic;">
                <li>Rusiškų variklių įmontavimas į ekskavatorius, kranus, pakrovėjus, traktorius, automobilius.</li>
                <li>T-150K pavarų dėžių išgreitinimas (iki 50 km/h)</li>
                <li>Traktorių T-150K, MTZ vairavimo sistemos modernizavimas</li>
                <li class="lastText">Ratų sudvejinimas traktoriams K-700, T-150, MTZ…</li>
            </ul>
        </div>
        <hr>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
<%- include('Footer.ejs') %>
</body>
</html>