<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Suvirinimas</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Suvirinimas</span>
            <h3 class="smallerTitle">Sertifikuotos suvirinimo paslaugos:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>Aliuminio, plieno, ketaus suvirinimas</li>
                    <li>Valcavimas, lenkimas</li>
                    <li class="lastText">Suviriname pagal kliento brėžinius</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
</body>
</html>