<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gabijus - Tekinimas ir frezavimas</title>
    <%- include('Scripts.ejs') %>
</head>
<body>
<!--////////////////////////////////////////////////////////////////-->

<%- include('RemgetaMenu.ejs') %>


<div class="container linija">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <span class="page-title">Tekinimas ir frezavimas</span>
            <h3 class="smallerTitle">Visos tekinimo, frezavimo, gręžimo, šlifavimo paslaugos, įvairių detalių gamyba
                ir restauravimas:</h3>
            <div class="text-background">
                <ul class="tekstas" style="font-style: italic">
                    <li>Traktorių ir automobilių šarnyrų bei vairo traukių remontas</li>
                    <li>Bloko guoliaviečių restauravimas</li>
                    <li>Visų kombainų bugnų ir pobugnių restauravimas</li>
                    <li>Variklio bloko pagrindinių kakliukų restauravimas</li>
                    <li>Apvirintų dalių aptekinimas</li>
                    <li class="lastText">Stabdžių bugnų ir kaladėlių tekinimas</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////-->
</body>
</html>