/* NAVBAR CSS */
.navbar {
    z-index: 9001;
}
.nav-item {
    margin-left: 3px;
}
.navbar .dropdown-toggle, .navbar .dropdown-menu a {
    cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #dedede;
}
.active, .dropdown-item-active {
    background: #ff9400;
}
.active {
    border-radius: 10px;
}
.dropdown-item a {
    color: grey;
}

/* WIDESCREEN / PHONE CSS */
@media (min-width: 767px) {
    .navbar .dropdown-toggle:not(.nav-link)::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .5em;
        vertical-align: 0;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        border-left: .3em solid;
    }
    .category {
        height: 190px;
        max-height: 250px;
    }
    .product {
        height: 250px;
        max-height: 250px;
    }
}
@media (max-width: 767px) {

    .nav-item a{
        padding-left: 10px !important;
    }
    .category {
        height: 190px;
        max-height: 190px;
    }
    .product {
        height: 250px;
        max-height: 250px;
    }
    .lentele tr {
        border-bottom: solid 1px black;
    }
}

html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    /*background: url(https://wallpaperaccess.com/full/1289006.jpg); OLD BACKGROUND */
    /*background: url("images/background.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center; */

}


.header {
    width: 100%; /* Full width */
    height: 55px;
    max-height: 55px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 100;
}

.container {
    z-index: 101;
    min-height: 100%;
    height: auto;
    /*height: 100%;*/
    margin-top: 75px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    border: solid 1px #e6e6e6;
}

.page-title {
    color: #ff9400;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin: auto;
    display: table;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

.page-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}


.smallerTitle, .menuTitle{
    padding: 10px;
}

.smallerTitle, .footerTitle {
    color: #ff9400;
    font-size: 16px;
}
.text-background {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 20px; /* Makes background rounded */
}

.lentele {
    margin-bottom: 25px;
}

.tekstas li{
    margin-bottom: 25px;
}

.lastText {
    margin-bottom: -10px !important;
}

/*Footer Link CSS*/
.footer-main {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #212529;
}
.footer-main footer {
    padding-top: 17px;
}
.footer-links li, .footerTitle {
    margin-bottom: -10px;
    margin-top: -10px;
    display: inline-block;
}

.medialink {
    padding: 7px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #211F1F;
    color: white;
}

.fa-steam {
    background: #2a475e;
    color: white;
}

/* HOW TO ACCESS IDS IN CSS*/
/*[id='5f089d3c9ec0c92edfa261d8'] {*/
/*    background: yellow;*/
/*}*/




/* Category Menu CSS */
h3{
    font-family: 'Poppins', sans-serif;
}
.shop-box .box{
    background: #FFF;
    border-radius: 5px;
    padding: 20px 0px;
    margin: 20px 0px;
    cursor: pointer;
    /*transition: all 0.5s ease-out;*/
    box-shadow: 0 0 6px #bfbfbf;
}

.shop-box .box:hover{
    box-shadow: 0 0 6px #4183D7;
}

.shop-box .box .box-text{
    font-size: 15px;
    line-height: 30px;
}

.shop-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}
.select {
    text-decoration: none !important;
}
.box-title, .box-text, .box-title h4{
    color: black;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.box-title {
    padding-top: 10px;
}
.menuTitle {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.menuTitle a, .menuTitle a:hover{
    color: #3399cc;
}
.productInfo {
    margin: 15px 5px 0px 5px;
}
.removeFlex {
    flex: auto;
}
.item-title {
    font-size: 25pt;
    text-transform: uppercase;
}
.item-id {
    font-size: 9pt;
    text-transform: uppercase;
}
.item-id, .item-price{
    color: #999;
    margin-bottom: 25px;
}
.item-price {
    padding: 6px 16px;
    background-color: rgba(238,28,37,0.05);
    float: left;
}
.item-price-number {
    color: #ee1c25;
    font-size: 16pt;
}
.item-title, .item-price {
    font-weight: bold;
}
.input-group{
    width: 200px;
    padding: 25px 25px 15px 25px;
}
.btn-minus {
    margin-right: 8px;
}
.btn-plus {
    margin-left: 8px;
}
.shopping-cart-button {
    padding: 10px 20px 20px 20px;
}
.shopping-cart-button button{
    text-transform: uppercase;
    height: 40px;
}
.order-box {
    clear: both;
    background: #f6f6f6;
}